{% extends 'dashboard-admin-pages/main.html' %}
{% load static %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="{% url 'index' %}" class="logo d-flex align-items-center">
      <img src="{% static 'dashboard-assets/img/logo.png' %}" alt="">
      <span class="d-none d-lg-block">NiceAdmin</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">4</span>
        </a><!-- End Notification Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            You have 4 new notifications
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 min. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-x-circle text-danger"></i>
            <div>
              <h4>Atque rerum nesciunt</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>1 hr. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Sit rerum fuga</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>2 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>Dicta reprehenderit</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>4 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a href="#">Show all notifications</a>
          </li>

        </ul><!-- End Notification Dropdown Items -->

      </li><!-- End Notification Nav -->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">3</span>
        </a><!-- End Messages Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
          <li class="dropdown-header">
            You have 3 new messages
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="{% static 'dashboard-assets/img/messages-1.jpg' %}" alt="" class="rounded-circle">
              <div>
                <h4>Maria Hudson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>4 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="{% static 'dashboard-assets/img/messages-2.jpg' %}" alt="" class="rounded-circle">
              <div>
                <h4>Anna Nelson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>6 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="{% static 'dashboard-assets/img/messages-3.jpg' %}" alt="" class="rounded-circle">
              <div>
                <h4>David Muldon</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>8 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="dropdown-footer">
            <a href="#">Show all messages</a>
          </li>

        </ul><!-- End Messages Dropdown Items -->

      </li><!-- End Messages Nav -->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="{% static 'dashboard-assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Kevin Anderson</h6>
            <span>Web Designer</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="{% url 'profile-dashboard' %}">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="{% url 'help' %}">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'index' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-circle"></i><span>Teachers</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'all-teachers' %}" >
            <i class="bi bi-circle"></i><span>All Teachers</span>
          </a>
        </li>
        <li>
          <a href="{% url 'add-teacher' %}">
            <i class="bi bi-circle"></i><span>Add Teacher</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link " data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'all-students'%}" class="active">
            <i class="bi bi-circle"></i><span>All Students</span>
          </a>
        </li>
        <li>
          <a href="{% url 'add-student' %}">
            <i class="bi bi-circle"></i><span>Add Student</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'attendance' %}">
        <i class="bi bi-clipboard-check"></i>
        <span>Attendance</span>
      </a>
    </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'news-dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>News</span>
      </a>
    </li><!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'profile-dashboard' %}">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>All Students</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item">Students</li>
        <li class="breadcrumb-item active">All Students</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <style>
      .search-input{
        border: 0;
        font-size: 14px;
        color: #012970;
        border: 1px solid rgba(1, 41, 112, 0.2);
        padding: 7px 38px 7px 8px;
        border-radius: 3px;
        transition: 0.3s;
        width: 100%;
      }
      .button-search{
        border: 0;
        padding: 0;
        margin-left: -30px;
        background: none
      }
      .avatar-img{
        width: 36px; height: 36px; border-radius: 5px;
      }
      .table-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .icon-table{
        display: flex;
        gap: 15px;
      }
    </style>
  <div class="table-nav">
    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" class="search-input">
        <button type="submit" title="Search" class="button-search">
          <i class="bi bi-search" style="color: #012970;"></i></button>
      </form>
    </div>
    <div class="icon-table">  
       <a href="{% url 'add-teacher' %}"><i class="bi bi-person-plus"  style="font-size: 20px;"></i></a>
       <a href="#"><i class="bi bi-filetype-exe" style="font-size: 20px; color: #10cf10;"></i></a>
       <i class="bi bi-trash" style="font-size: 20px; color: #d61818;"></i>
    </div>
  </div>
    <table class="table  table-hover">
      <thead>
        <tr>
          <th scope="col"><input type="checkbox" class="checkAll" name="checkAll"></th>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Age</th>
          <th scope="col">Number</th>
          <th scope="col">Gender</th>
          <th scope="col">Start Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <td><img src="../../static/assets/img/about.jpg" class="avatar-img"></td>
          <td><a href="{% url 'aboutdetail-teacher' %}">Brandon Jacob Izatulayevich</a></td>
          <td>Designer</td>
          <td>28</td>
          <td>1234325534</td>
          <td>Female</td>
          <td>2016-05-25</td>
        </tr>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <th scope="row">2</th>
          <td><a href="{% url 'aboutdetail-teacher' %}">Bridie Kessler</a></td>
          <td>Developer</td>
          <td>35</td>
          <td>39539259</td>
          <td>Female</td>
          <td>2014-12-05</td>
        </tr>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <th scope="row">3</th>
          <td><a href="{% url 'aboutdetail-teacher' %}">Ashleigh Langosh</a></td>
          <td>Finance</td>
          <td>45</td>
          <td>235353454353</td>
          <td>Female</td>
          <td>2011-08-12</td>
        </tr>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <th scope="row">4</th>
          <td><a href="{% url 'aboutdetail-teacher' %}">Angus Grady</a></td>
          <td>HR</td>
          <td>34</td>
          <td>353464653653</td>
          <td>Female</td>
          <td>2012-06-11</td>
        </tr>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <th scope="row">5</th>
          <td><a href="{% url 'aboutdetail-teacher' %}">Raheem Lehner</a></td>
          <td>Dynamic Division Officer</td>
          <td>47</td>
          <td>32654764746</td>
          <td>Female</td>
          <td>2011-04-19</td>
        </tr>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <th scope="row">6</th>
          <td><a href="{% url 'aboutdetail-teacher' %}">John Kessler</a></td>
          <td>Model</td>
          <td>20</td>
          <td>5294642242</td>
          <td>Male</td>
          <td>2010-22-07</td>
        </tr>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <th scope="row">7</th>
          <td><a href="{% url 'aboutdetail-teacher' %}">Kendel Jener</a></td>
          <td>Beuty</td>
          <td>25</td>
          <td>9435436534</td>
          <td>Female</td>
          <td>2001-02-13</td>
        </tr>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <th scope="row">8</th>
          <td><a href="{% url 'aboutdetail-teacher' %}">Nodle Wilsmith</a></td>
          <td>3D Designer</td>
          <td>36</td>
          <td>2353465474564</td>
          <td>Male</td>
          <td>2001-02-11</td>
        </tr>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <th scope="row">9</th>
          <td><a href="{% url 'aboutdetail-teacher' %}">Raheem Potter</a></td>
          <td>Actor</td>
          <td>32</td>
          <td>1235325324</td>
          <td>Male</td>
          <td>2007-02-14</td>
        </tr>
        <tr>
          <td scope="col"><input type="checkbox" name = "item[]" value="1"></td>
          <th scope="row">10</th>
          <td><a href="{% url 'aboutdetail-teacher' %}">Salim Halik</a></td>
          <td>Doctor</td>
          <td>24</td>
          <td>325325234</td>
          <td>Male</td>
          <td>2003-11-23</td>
        </tr>
      </tbody>

    </table>
  </section>

</main><!-- End #main -->


{% endblock %}