{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="{% url 'home' %}">Mentor</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a class="active" href="{% url 'school' %}">Schools</a></li>
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="{% url 'course' %}">Courses</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        {% if user.is_authenticated %}
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">

              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                {% if request.user.profile.user_img %}
                <img src="{{ request.user.profile.user_img.url }}" alt="Profile" class=" rounded-circle ">
                {% else %}
                <img src="{% static 'assets/img/person2.png' %}" alt="Profile" class="rounded-circle">
                {% endif %}
                <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username|title }}</span>
              </a><!-- End Profile Iamge Icon -->

              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6>{{ user.last_name|first }}.  {{ user.username|title }}</h6>
                  <span>Web Designer</span>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' request.user.id %}">
                    <i class="bi bi-person"></i>
                    <span>My Profile</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'update-user' %}">
                    <i class="bi bi-gear"></i>
                    <span>Account Settings</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                    <i class="bi bi-question-circle"></i>
                    <span>Need Help?</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>LogOut</span>
                  </a>
                </li>

              </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
          </ul>
        </nav>
        {% else %}
        <li><a href="{% url 'login' %}">Log In </a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <a href="{% url 'register' %}" class="get-started-btn">REGISTER</a>
    {% endif %}
    {% csrf_token %}

  </div>
</header><!-- End Header -->
<main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Schools</h2>
      <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit
        quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Courses Section ======= -->
  <section id="courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        {% for sc in school %}
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <a href="{% url 'school-detail' sc.id %}">
            <div class="course-item">
              <img src="{{ sc.school_img.url }}" class="img-fluid" alt="..." style="border-radius: 6px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">

                </div>

                <h3><a href="{% url 'school-detail' sc.id %}">{{ sc.title }}</a></h3>
                <p>{{ sc.about_school }}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{ sc.director_img.url }}" class="img-fluid" alt="">
                    <span>{{ sc.director }}</span>
                  </div>
                  <a href="{% url 'news' %}" class="get-started-btn">JOIN</a>
                </div>
              </div>
            </div>
          </a>
        </div><!-- End Course Item-->
        {% endfor %}

      </div>

    </div>
  </section><!-- End Courses Section -->

</main><!-- End #main -->

{% endblock %}